
<div>
    <h1>Apartments</h1>

    <p>{{ tagline }}</p>

    Number of Apartments: {{apartments.length}}

    <!-- LOOP OVER THE TODOS IN $scope.todos -->
	<table>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Rent</th>
			<th>Observations</th>

			<th></th>
		</tr>

		<tr ng-repeat="apt in apartments">
			<td>
				<span>{{ apt.name }}</span>
			</td>
			<td>
				{{ apt.address }}
			</td>
			<td>
				{{ apt.rentAmount }}
			</td>
			<td>
				{{ apt.observations }}
			</td>
			<td>
				<a ng-click="deleteApartment(apt._id)"> delete </a>
			</td>
		</tr>
	</table>



    <div id="apartment-form">
		<form>
			<div class="form-group">
				<div>
					<label>Name</label>
					<input type="text" ng-model="formData.name">
				</div>	
				<div>
					<label>Address</label>
					<input type="text" ng-model="formData.address">
				</div>
				<div>
					<label>Information about Electric Energy</label>
					<input type="text" ng-model="formData.energyInfo">	
				</div>
				<div>	
					<label>Information about Internet Access</label>
					<input type="text" ng-model="formData.internetInfo">
				</div>
				<div>
					<label>Rent Amount</label>
					<input type="text" ng-model="formData.rentAmount">
				</div>
				<div>
					<label>Condominium</label>
					<input type="text" ng-model="formData.condominium">
				</div>
				<div>
					<label>Main Bedrooms</label>
					<input type="number" ng-model="formData.mainBedrooms">
				</div>
				<div>
					<label>Contract Start Date</label>
					<input type="date" ng-model="formData.contractStartDate">
				</div>
				<div>
					<label>Allowed to return after</label>
					<input type="date" ng-model="formData.allowedToReturnAfter">
				</div>
				<div>
					<label>Observations</label>
					<textarea ng-model="formData.observations"></textarea>
				</div>
				
			</div>

			<button type="submit" ng-click="createApartment()">Create</button>
		</form>		
	</div>
</div>