<div>
    <div class="form-container">
    	<h2>ASK FOR MAINTENANCE</h2>
		<form>
			<div>
				<div class="blue-highlight">{{ apartmentRelated.name }}: {{ apartmentRelated.address }}</div>
			</div>
			<div>
				<label>Type your Name</label>
				<input type="text" ng-model="formData.requesterName" required>
			</div>	
			<div>
				<label>Describe the problem you are facing at the apartment</label>
				<textarea ng-model="formData.issueDescription" required></textarea>
			</div>
			<div>
				<label>Does the problem need an urgent maintenance?</label>
				 <input id="true" type="radio" ng-model="formData.isUrgent" value="true" ng-required/>
				 <label class="label-radio" for="true">YES</label>
                 <input id="false" type="radio" ng-model="formData.isUrgent" value="false" ng-required/>
                 <label class="label-radio" for="false" >NO</label>
			</div>

			<button class="blue-button" type="submit" ng-click="createMaintenanceRequest()">SEND</button>
			<a href="/">Or, go back to apartment list</a>
		</form>	
	</div>

</div>