@import "variables";

.apartment-admin-list {
	li {
		@include pad(0px 8px 0px 8px);
	}

	.td-name {
		@include span-columns(2);
	}

	.td-address {
		@include span-columns(3);

		@include tablet {
			@include span-columns(2.5);
		}

		@include mobile {
			@include span-columns(2.5);
		}
	}

	.td-rent {
		@include span-columns(2);
	}

	.td-observations {
		@include span-columns(3.5);

		@include tablet {
			@include span-columns(3);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
		}

		@include mobile {
			@include span-columns(3);
			white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
		}
	}


	.td-actions {
		@include span-columns(1.5);

		@include tablet {
			@include span-columns(2.5);
		}

		@include mobile {
			@include span-columns(2.5);
		}

		a {
			margin-right: 1em;
		}
	}
}