@import "variables";

.comments {
	ul {
		margin-bottom: 1em;
		padding: 0;
		border-radius: 3px;
		border-top: solid $border-gray 2px;
		border-right: solid $border-gray 2px;
		border-left: solid $border-gray 2px;
	}

	li {
		background: white;
		border-bottom: solid $border-gray 2px;
		padding: 0.5em 1em;
		list-style: none;
		overflow: hidden;

		p {
			float: left;
		}

		& > div {
			float: right;
			padding: 0;
			height: 3em;

			div {
				font-size: 0.9em;
				text-align: right;
				padding: 0.3em 0 0 0;
			}

			.author {
				color: $label-gray;
			}
		}
	}
}

.dialog-content {

	.form-comment {
		font-size: 0.8em;
		
		h3 {
			margin-bottom: 1em;
			font-size: 1.5em;
		}

		div {
			padding-bottom: 1em;


			label {
				display: block;
				margin-bottom: 0.3em;
			}

			input[type="text"], input[type="number"], input[type="date"], textarea {
				width: 100%;
				padding: 0.7em 1em;
				border-radius: 3px;
				border: solid $border-gray 2px;
			}
		}

		.blue-button {
			float: left;
			margin-right: 1em;
		}
	}
}
