@import "variables";
.content-list {
	ul.maintenance-list {
		overflow: hidden;
		margin: 0;
		padding: 0;
		border-bottom: solid $border-gray 2px;
		@include outer-container;


		li {
			@include row(table);
			border-top: solid $border-gray 2px;
			border-left: solid $border-gray 2px;
			border-right: solid $border-gray 2px;
			background: white;
			height: 3.8em;

			div {
				@include pad(3px 5px 3px 5px);

				&.icon-alert {
					@include span-columns(1);
				}

				&.td-address {
					@include span-columns(2);
				}

				&.td-description {
					@include span-columns(3);
				}

				&.td-comments {
					@include span-columns(2);
				}

				&.td-button-edit {
					@include span-columns(2);
				}

				&.td-button-delete {
					@include span-columns(2);
					@include reset-display;
				}

				.blue-button {
					padding: 0.2em 1.5em;
				}
			}
		}
	}
}

select {
	width: 100%;
	padding: 0.7em 1em;
	border-radius: 3px;
	border: solid $border-gray 2px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-o-appearance: none;
  	appearance: none;
  	margin-bottom: 2em;
  	background-color: white;
  	background-image: url('../images/arrow.png');
  	background-repeat: no-repeat;
  	background-position: 99% center;
  	background-size: 20px 20px;
  	outline: 0;
}

.fa-exclamation-circle {
	color: #EFAD2D;
}