@import "variables";
.content-list {
	tr {
		@include span-columns(12);
		border: solid $border-gray 2px;
		background: white;

		td {
			border: none;
			height: 2em;
			padding: 0.8em;

			.blue-button {
				padding: 0.2em 1.5em;
				margin: 0 1em;
			}
		}
	}

}

select {
	width: 100%;
	padding: 0.7em 1em;
	border-radius: 3px;
	border: solid $border-gray 2px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-o-appearance: none;
  	appearance: none;
  	margin-bottom: 2em;
  	background-color: white;
  	background-image: url('../images/arrow.png');
  	background-repeat: no-repeat;
  	background-position: 99% center;
  	background-size: 20px 20px;
  	outline: 0;
}

.fa-exclamation-circle {
	color: #EFAD2D;
}