$mobile: new-breakpoint(max-width 460px);
$tablet: new-breakpoint(min-width 461px max-width 768px);
$desktop: new-breakpoint(min-width 769px);

@mixin mobile {
   @include media($mobile) {
       @content
   }
}

@mixin tablet {
   @include media($tablet) {
       @content
   }
}

@mixin desktop {
   @include media($desktop) {
       @content
   }
}