@import "variables";
@import "spinner";
@import "apartments";
@import "forms";
@import "dialogs";
@import "maintenanceList";
@import "messages";
@import "comments";


//general
body {
	font-family: 'Open Sans', sans-serif;
	background: $dark-gray;
}

h2 {
	color: $very-dark-gray;
	font-weight: normal;
	margin: 0 0 1em 0;
	font-size: 1.5em;
}

h3 {
	margin: 0;
	font-weight: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $dark-blue;
	font-weight: $super-bold;
}

.container {
	width: 62%;
	margin: 0 auto;
	background: $light-gray;
	overflow: hidden;

	header {
		background: $gray;
		height: 6em;

		h1 {
			margin: 0;
			color: white;
			line-height: 4em;
			font-size: 1.4em;
			padding-left: 10%;
			font-weight: $bold;
		}
	}

	.content {
		padding: 2em 2em 3em 2em;
		overflow: hidden;
		font-size: 0.8em;

		.content-list {
			padding: 1em 2em 2em 2em;
		}
	}

}

.blue-button {
	background: $blue;
	border-radius: 3px;
	text-transform: uppercase;
	color: white;
	border: none;
	box-shadow: 3px 3px 9px 2px #DFDFDF;
	margin-right: 2em;
	padding: 0.5em 1.7em;
	font-weight: normal;

	&:active {
		background: $dark-blue;
	}

	&:hover {
		background: $dark-blue;
	}

	&:disabled {
		background: $border-gray;
	}

}






table {
	border-collapse:collapse;
	margin-bottom: 2em;

	td, th {
		border:1px solid #BEBEBE;
		padding: 0.5em;
	}

	th {
		background: #DADADA;
	}
}