$gutter: 10em;

@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "../libs/neat/app/assets/stylesheets/neat";
@import "mediaQueries";
@import "variables";
@import "spinner";
@import "apartments";
@import "forms";
@import "dialogs";
@import "maintenanceList";
@import "messages";
@import "comments";


//general
body {
	font-family: 'Open Sans', sans-serif;
	background: $dark-gray;
	@include outer-container;
}

h2 {
	color: $very-dark-gray;
	font-weight: normal;
	margin: 0 0 1em 0;
	font-size: 1.5em;
}

h3 {
	margin: 0;
	font-weight: normal;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $dark-blue;
	font-weight: $super-bold;
}

.container {
	@include span-columns(9);
	@include shift(1.5);
	background: $light-gray;
	overflow: hidden;

	@include tablet {
		@include span-columns(10);
		@include shift(1);
	}

	@include mobile {
		@include span-columns(12);
		@include shift(0);
	}

	header {
		background: $gray;
		padding: 1.6em 4em;

		h1 {
			margin: 0;
			color: white;
			line-height: 2.3em;
			font-size: 1.4em;
			font-weight: $bold;

			@include mobile {
				font-size: 0.8em;
			}

			@include tablet {
				font-size: 0.9em;
			}
		}

		img {
			width: 41px;
			float: left;
			margin-right: 1em;

			@include mobile {
				width: 20px;
			}

			@include tablet {
				width: 30px;
			}

		}
	}

	.content {
		padding: 2em 2em 3em 2em;
		overflow: hidden;
		font-size: 0.8em;
		clear: both;

		.content-list {
			padding: 1em 2em 2em 2em;
		}
	}

}

.blue-button {
	background: $blue;
	border-radius: 3px;
	text-transform: uppercase;
	color: white;
	border: none;
	box-shadow: 3px 3px 9px 2px #DFDFDF;
	margin-right: 2em;
	padding: 0.5em 1.7em;
	font-weight: normal;

	&:active {
		background: $dark-blue;
	}

	&:hover {
		background: $dark-blue;
	}

	&:disabled {
		background: $border-gray;
	}

}
.menu {
	float: right;
	margin: 1em 1em 0 0;

	a {
		background: $blue;
		border-radius: 3px;
		text-transform: uppercase;
		color: white;
		border: none;
		box-shadow: 3px 3px 9px 2px #DFDFDF;
		padding: 0.5em 1.7em;
		font-size: 0.8em;
	}
}





table {
	border-collapse:collapse;
	margin-bottom: 2em;

	td, th {
		border:1px solid #BEBEBE;
		padding: 0.5em;
	}

	th {
		background: #DADADA;
	}
}