$dark-gray: #252B31;
$light-gray: #EEEEEE;
$gray: #555555;
$blue: #48A7F2;
$dark-blue: #274FAE;
$border-blue: #5E85C9;
$border-gray: #E6E6E6;
$very-dark-gray: #333333;
$light-red: #FC5356;
$green: #3ABD6C;
$red-error: #FF5151;
$label-gray: #979595;

$colors-apartments: #48A7F2, #34B7F3, #33C6D9, #2FA69A, #69BA6D, #9DCB6A;

$bold: 600;
$super-bold: 700;

